.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hide default calendar icon when using a custom one */
input[type="date"].hide-calendar-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

body {
  overscroll-behavior-y: none;
  position: relative;
  min-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
